.button {
  background-color: $blue;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: $size-sm;
  font-size: $font-lg;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
  border: none;
  color: white;
}

.button--secondary {
  background-color: #888;
}
