.page-header {
  background: $light-gray;
  padding: $size-lg 0;
  margin-bottom: $size-lg;

  &__title {
    margin: 1rem 0;
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }

  &__actions {
    margin-top: $size-md;
  }
}
