$size-sm: 1.2rem;
$size-md: 1.6rem;
$size-lg: 3.2rem;
$size-xl: 4.8rem;
$desktop-breakpoint: 45rem;
$dark-gray: #333333;
$light-gray: #f7f7f7;
$gray: #666;
$blue: #1c88bf;
$dark-blue: #364051;

//fontsizes
$font-lg: 1.8rem;
$font-md: 1.4rem;
